.imagenprincipal{
  width: 900px;
  height: 610px;
}
.carousel{
  max-width:max-content;
  text-align: center;
  display: contents;
}




.container-fluid{
  color: blueviolet;
  background-color: rgb(149, 253, 152);
}
nav ul li:hover{
  background: rgb(103, 187, 78);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
